<div class="admin_wrap_layout_page_content">
  <app-breadcrumb></app-breadcrumb>
  <div class="layout_page_content_form">
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label nzRequired>文章标题</nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input formControlName="title" nz-input placeholder="请输入文章标题" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('title')?.dirty && validateForm.get('title')?.errors">文章标题不能为空！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>发布时间</nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <nz-date-picker formControlName="release_time" style="top:2px;"></nz-date-picker>
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('release_time')?.dirty && validateForm.get('release_time')?.errors">发布时间不能为空！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>文章类别</nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <nz-select  nzShowSearch nzAllowClear formControlName="cat_id"  nzPlaceHolder="请选择文章类别">
              <nz-option *ngFor="let item of categoryList" [nzValue]="item.id" [nzLabel]="item.category_name"></nz-option>
            </nz-select>
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('cat_id')?.dirty && validateForm.get('cat_id')?.errors">文章类别不能为空！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <!-- <button nz-button nzType="primary" (click)="getFroalaValue()">提交</button> -->
          <button nz-button nzType="primary">提交</button> 
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div class="write_content">
    <div [froalaEditor]="option" [(froalaModel)]="froalaText">Hello, Froala!</div>
    <!-- <div [froalaView]="froalaText"></div> -->
  </div>
</div>