@keyframes opc {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
.item_archive {
  animation: opc 2s ease;
}
.archive_form {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
}
